@import 'src/styles';

body {
    position: relative; 
}
.sticky-header{
    background-color:#00bcd4; 
    height:80px;

    h1{
        font-size:32px;
        color:rgb(54, 131, 54);
        margin:0 auto;
        width:80%;
    }
}

  nav{  padding:0;
    background:#fff;
    .wrapper-nav{
        display:flex;
        justify-content: space-between;
        margin:0 auto;
        width:80%;
                    .brand{
                        margin-top:10px;
                    }
                     ul{
                         margin-top:10px;
                         li{
                        margin-left:20px;  
                             }
                            
                        }
    }
}


