<div data-spy="scroll" data-target=".navbar">
    <!-- data-offset="50" -->
    <div class="sticky-header">
        <h1>Test Rezart</h1>
    </div>

    <nav class="navbar navbar-expand-sm navbar-right bg-light navbar-light sticky-top">
        <div class="wrapper-nav ">
            <div class="navbar-header brand">

                <h2><a class="navbar-brand" href="#">Test Rezart</a></h2>
            </div>
            <ul class="nav navbar-nav nav-right">
                <li><a href="#section1">Slider</a></li>
                <li><a href="#section2">Tabs</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Description<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#section3-1">Description 3-1</a></li>
                        <li><a href="#section3-2">Description 3-2</a></li>
                    </ul>
                </li>
                <li><a href="#section4">Contacts</a></li>
            </ul>
        </div>

    </nav>

    <app-slider></app-slider>

    <!-- <div id="section2" class="container-fluid"> -->

    <app-tabs></app-tabs>

    <!-- </div> -->
    <app-description></app-description>
<app-contacts></app-contacts>
   
</div>