<div id="section3-1" class="container-fluid">
  <div class="desc_wrapper1">
    <h1><span style='color:red'>!Read me.</span> Submenu 1</h1>
    <p>Сайт зверстано і додано JS елементів на основі фреймворку Angular. </p>
    <p>Gulp я не використовую. Після того як розробники Angular включили в ядро Webpack - Gulp , Grunt і тому подібне
      відправилось на нафту).</p>
    <p> Використано для CSS оформлення - Bootstrap and ng-bootstrap</p>
    <p>Також використано SCSS, а саме дуже стала у пригоді вкладеність селекторів,яку дозволяє синтаксис цього
      препроцесора</p>

    <p>Лайтбокс не встиг зробити, це не швидка справа.як виявилось. Я з лайтбоксами ще справи не мав, зроблю,
      зрозуміло, що це навик одного разу і назавжди.</p>
    <p>Про форму відправки я написав в розділі Contacts</p>

    <h5 style="color:brown">Пока все) Thanks a lot!</h5>
  </div>
</div>
<div id="section3-2" class="container-fluid">
  <div class="desc_wrapper2">
    <h1>Description 3 Submenu 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
      look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
      look at the navigation bar while scrolling!</p>
  </div>
</div>